{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

{{include('message_flash.html.twig')}}

<ul>  

    {# débuger #}
    {# {{ dump(app.user) }} #}

    <li>Email : {{app.user.email}} </p>

</ul>
{% endblock %}
