<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>À propos</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt eros sit amet velit hendrerit.</p>
      </div>
      <div class="col-md-4">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Accueil</a></li>
          <li><a href="#" class="text-white">À propos</a></li>
          <li><a href="#" class="text-white">Services</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: contact@exemple.com</p>
        <p>Téléphone: +33 1 23 45 67 89</p>
      </div>
    </div>
    <div class="text-center mt-3">
      <p>&copy; 2025 MonSite - Tous droits réservés</p>
    </div>
  </div>
</footer>
