{% extends 'base.html.twig' %}

{% block title %}Résultats pour "{{ query }}"{% endblock %}

{% block body %}
    <h2>Résultats pour "{{ query }}"</h2>
    {% if articles is empty %}
        <p>Aucun article trouvé.</p>
    {% else %}
        <ul>
            {% for article in articles %}
                <li><a href="{{ path('app_article_show', { 'id': article.id }) }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
